@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* Primary colors */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* GENERAL */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 1120px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  padding-bottom: 4rem;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

/* TEXT */

h1 {
  color: var(--very-dark-blue);
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1;
}

h2 {
  color: var(--soft-orange);
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 15px;
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

/* LAYOUT */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "head-article head-article sidebar"
    "head-article head-article sidebar"
    "articles articles articles";
  column-gap: 1.5rem;
  row-gap: 4rem;
}

.head_article {
  grid-area: head-article;
}

aside {
  padding: 1.8rem 1.6rem;
  background-color: var(--very-dark-blue);
  grid-area: sidebar;
}

.article-one,
.article-two,
.article-three {
  display: grid;
  grid-template-columns: 3fr 8fr;
}

.articles {
  grid-area: articles;
}

/* NAVIGATION */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
  position: relative;
}

.nav_bar {
}

.nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.nav_list-item {
}

.nav_list-link:link,
.nav_list-link:visited {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

.nav_list-link:hover,
.nav_list-link:active {
  color: var(--soft-red);
}

/* Mobile navigation */

.btn_mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

/* SIDEBAR */

.sidebar_text {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.sidebar_text:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.sidebar_text p {
  color: var(--grayish-blue);
}

.sidebar_title-link:link,
.sidebar_title-link:visited {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.sidebar_title-link:hover,
.sidebar_title-link:active {
  color: var(--soft-orange);
}

/* HEAD ARTICLE */

.head_article-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.8rem;
  align-items: center;
}

.head_article-button:link,
.head_article-button:visited {
  display: inline-block;
  padding: 16px 36px;
  font-size: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--soft-red);
  color: var(--off-white);
  margin-top: 1.8rem;
}

.head_article-button:hover,
.head_article-button:active {
  background-color: #000;
}

/* ARTICLES */

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
}

.article_number {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--grayish-blue);
}

.article_box {
  padding-left: 1.5rem;
}

.article_title-link:link,
.article_title-link:visited {
  text-decoration: none;
  color: var(--very-dark-blue);
  cursor: pointer;
}

.article_title-link:hover,
.article_title-link:active {
  color: var(--soft-red);
}

/* MOBILE DESIGN */

@media only screen and (max-width: 1100px) {
  .head_article-text {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head-article"
      "sidebar"
      "articles";
  }

  .articles {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .head_article-text {
    grid-template-columns: 1fr;
  }

  .nav_bar {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    /* position: absolute; */
    position: fixed;
    top: 0;
    right: 0;
    width: 69%;
    height: 100vh;
    background-color: var(--off-white);

    transform: translateX(100%);

    transition: all 0.5s ease-out;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    padding-top: 9rem;
    padding-left: 1.6rem;
    font-size: 1.1rem;
  }

  .nav_list-link:link,
  .nav_list-link:visited {
    color: var(--very-dark-blue);
  }

  .nav-open .nav_bar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateX(0);
  }

  .nav-open .mobile-open {
    display: none;
  }
  .nav-open .mobile-close {
    display: block;
  }

  .main-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .btn_mobile-nav {
    display: block;
    z-index: 100;
  }

  .mobile-close {
    display: none;
  }
}
