body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.head-article {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

aside {
  grid-row: 1 / 3;
}
